<%- include header %>
<form method="post">
	<div class="form-group">
    	<span class="col-sm-2" style="line-height: 34px ;margin-bottom: 20px;">Titile</span>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="title" placeholder="title..." name="title">
	    </div>
  	</div>
  	<div class="form-group">
  		<textarea class="form-control" rows="20" name="post"></textarea>
  	</div>
  	<div class="form-group">
	    <div class="col-sm-offset-11">
	      <button type="submit" class="btn btn-default btn-lg">Post</button>
	    </div>
	  </div>
</form>
<%- include footer %>